@button-primary__background: @color-derinmor;
@button-primary__hover__background: @color-derinmor;
@button-primary__active__background: @color-derinmor;

@button-primary__border: 1px solid @color-derinmor;
@button-primary__hover__border: 1px solid @color-derinmor;
