@navigation-desktop-level0-item__active__color: @color-white;
@navigation-desktop-level0-item__hover__color: @color-white;
@navigation-desktop-level0-item__color: @color-white;
@header-panel__text-color: @color-derinmor;
@copyright__background-color: @color-derinmor;
@footer-links-color: @color-derinmor;
@button-primary__background: @color-derinmor;
@header-panel__background-color: @color-white;

body {
    .lib-typography(
        @_color: #7B637A
    );
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .logo {
        height: 25px;
    }
}