@navigation__background: @color-derinmor;

@navigation-level0-item__color: @color-white;
@navigation-level0-item__hover__color: @color-white;
@navigation-level0-item__active__color: @color-white;

@submenu-desktop-item__color: @color-derinmor-submenu-item-color;
@submenu-desktop-item__hover__color: @color-derinmor-submenu-item-color;
@submenu-desktop-item__active__color: @color-derinmor-submenu-item-color;