
//  Page item - text color
@pager__color: @color-gray64;
@pager__visited__color: @color-gray64;
@pager__hover__color: @color-gray64;
@pager__active__color: @color-gray64;


//  Page item - background
@pager__visited__background: @color-gray90;
@pager__hover__background: @color-gray90;
@pager__active__background: @color-gray90;