@link__color: @color-white;
@link__visited__color:@color-white;
@link__hover__color:@color-white;
@link__active__color:@color-white;

& when (@media-common = true) {
  .lib-font-face(
    @family-name:@font-family-name__base,
    @font-path: '@{baseDir}fonts/frutiger-lt',
    @font-weight: 300,
    @font-style: normal,
    @font-display: swap
  );

  .lib-font-face(
    @family-name:@font-family-name__base,
    @font-path: '@{baseDir}fonts/frutiger-lt',
    @font-weight: 600,
    @font-style: normal,
    @font-display: swap
  );

  .lib-font-face(
    @family-name:@font-family-name__base,
    @font-path: '@{baseDir}fonts/frutiger-lt',
    @font-weight: 700,
    @font-style: normal,
    @font-display: swap
  );
}