<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$_product = $block->getProduct();
if (!$_product instanceof \Magento\Catalog\Model\Product) {
    return;
}
$_attributeColor = $_product->getAttributeText("colorgroup");
?>
<?php if (!$_attributeColor): ?>
<div class="product attribute color">
        <strong translate="true" lang="en" class="type">Color</strong>
    <div class="value"><?= /* @noEscape */ $_attributeColor ?></div>
</div>
<?php endif ?>